<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to save memories on map.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location is used to tag your trips and memories.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to save trip memories.</string>
</dict>
</plist>
